<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Practitioner Notes History list</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <a style="margin-top: 10px;" href="/patients" th:href="@{/patients}" class="btn btn-primary">Go Back To Patients List</a>
    </div>
    <div class="row">
        <h2 style="margin-top: 10px;" th:text="${'Notes/Recommendations List For Patient :' + ' ' + patient.name + ' ' + patient.familyName}"></h2>
    </div>
    <div class="row">
        <a th:href="@{/practitionerNotes/add/{id}(id=${patient.id})}" th:text="${'Add Notes/Recommendations For Patient :' + ' ' + patient.name + ' ' + patient.familyName}"  class="btn btn-primary btn-md active mb-2"></a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Notes/Recommendations Id</th>
                <th>Practitioner Notes/Recommendations</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td style="width: 10%" th:text="${note.id}"></td>
                <td th:text="${note.notesAndRecommendations}"></td>
                <td class="text-center">
                    <a class="btn btn-primary" th:href="@{/practitionerNotes/update/{id}(id=${note.id})}">Edit Notes/Recommendations</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>