<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Patients List</h2></div>
    <div class="row">
        <a th:href="@{/patient/add}" class="btn btn-primary btn-md active mb-2">Add A New Patient</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Family Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Postal Address</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td style="width: 10%" th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.familyName}"></td>
                <td th:text="${#temporals.format(patient.dateOfBirth, 'dd/MM/yyyy', 'fr')}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${!patient.postalAddress.isEmpty()} ? ${patient.postalAddress} : 'empty'"></td>
                <td th:text="${!patient.phoneNumber.isEmpty()} ? ${patient.phoneNumber} : 'empty'"></td>
                <td class="text-center">
                    <a class="btn btn-primary" style="display: block; margin-top: 10px;" th:href="@{/patient/update/{id}(id=${patient.id})}">Edit Patient Data</a>
                    <a class="btn btn-primary" style="display: block; margin-top: 10px;" th:href="@{/practitionerNotesHistory/{id}(id=${patient.id})}">View Practitioner Notes History</a>
                    <a class="btn btn-primary" style="display: block; margin-top: 10px;" th:href="@{/assessById/{id}(id=${patient.id})}">View Patient Diabetes Assessment</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>